.app {
    position: relative;
    width: 100%;
    overflow: hidden;

    &#browser {
        .browser {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            &__bar {
                background: var(--primary);
                width: 100%;
                min-height: 3rem;
                height: auto;
                flex-shrink: 0;
                display: grid;
                grid-template-columns: 4rem 3rem auto 5rem;
                padding: 0 1rem;
                border-bottom: 2px solid var(--secondary);
                z-index: 100;

                &__pagination {
                    text-align: center;

                    &__button {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 33vw;
                        background: #fff;
                        margin: 0 0.25rem;
                        border: 2px solid var(--secondary);

                        &:hover {
                            filter: brightness(90%);
                            cursor: $cr-pointer;
                        }
                    }
                }

                &__security {
                    width: 2rem;
                    height: 100%;
                    position: relative;
                    margin-left: 1rem;

                    &__icon {
                        height: 34px;
                        border: 2px solid var(--secondary);
                        border-right: 0;
                        background-color: #fff;

                        img {
                            display: block;
                            height: 50%;
                            width: auto;
                            margin: auto;
                        }
                    }
                }

                &__search {
                    position: relative;
                    transform: translateX(-2px);

                    &__input {
                        display: block;
                        height: 34px;
                        padding: 0.5rem;
                        padding-left: 0;
                        width: 100%;
                        margin: auto;
                        border: 2px solid var(--secondary);
                        border-left: 0;
                        background-color: #fff;
                        outline: none;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        cursor: text;

                        &:empty:before {
                            content: "Search the internet with a URL";
                            color: gray;
                        }

                        &:not(:empty):not(:focus):before {
                            content: "http://";
                            color: gray;
                        }

                        &.secure:not(:empty):not(:focus):before {
                            content: "https://" !important;
                            color: gray;
                        }
                    }

                    &__suggestions {
                        display: none;
                        position: absolute;
                        background: #fff;
                        width: calc(100%);
                        margin: auto;
                        left: 0;
                        right: 0;
                        border: 2px solid var(--secondary);
                        margin-top: 4px;

                        span {
                            display: block;
                            padding: 0.35rem;

                            &:before {
                                content: "http://";
                            }

                            &:hover {
                                background-color: $selection-color;
                                color: #fff;
                                cursor: $cr-pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &__buttons {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 5px;

                    button {
                        background-color: transparent;
                        outline: none;
                        color: #fff;
                        height: 34px;
                        border: 0;
                        font-family: "VT323", sans-serif;

                        img {
                            height: 25px;
                            width: auto;
                        }

                        &.search-btn {
                            background-color: var(--secondary);
                            text-transform: uppercase;
                            padding: 0 0.5rem;
                            transform: translateX(-3px) translateY(-50%);

                            &:hover {
                                cursor: $cr-pointer;
                                filter: brightness(95%);
                            }
                        }
                    }
                }

                /* # Selector found in app.browser/app.tsx for dynamic targetting

                &__search[input-value="exa"] .browser__bar__search__input:not(:empty):after {
                    content: 'mple.com';
                    background-color: $selection-color;
                    color: #FFF;
                }
                */

                &__search:not([input-value=""]) .browser__bar__search__suggestions.active:not(:empty) {
                    display: block !important;
                }
            }

            &__view {
                flex: 1;
                display: flex;
                align-items: stretch;
                user-select: text !important;
                z-index: 10;
                align-items: stretch;
                flex: 1;
                overflow: auto;

                .link-descriptor {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    user-select: none;

                    span:not(:empty) {
                        padding: 0.25rem;
                        background-color: var(--secondary);
                        color: #fff;

                        &:before {
                            content: "https://";
                        }
                    }
                }
            }
        }
    }

    &#controlpanel {
        background-color: var(--primary);
        display: grid;
        grid-template-columns: 13rem auto;
        color: #FFF;
        .controlpanel__sidebar {
            padding: 0.5rem;
            background-color: var(--secondary);
            &__card {
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background-color: rgb(235, 235, 235);
                color: $sc-primary-blue;
                border: 2px solid var(--primary);
                h2 {
                    background-color: var(--primary);
                    color: #FFF;
                    padding: 0.5rem;
                    font-weight: 100;
                    font-size: 1rem;
                }
                &__list {
                    padding: 0.5rem;
                    .setting {
                        display: grid;
                        grid-template-columns: 10px auto;
                        grid-column-gap: 1rem;
                        margin: 0.5rem 0;
                        cursor: $cr-pointer;

                        .checkbox {
                            width: 10px;
                            height: 10px;
                            outline: 1px solid var(--primary);
                            background-color:rgb(240, 240, 240);
                            position: relative;
                            &.active {
                                &:before {
                                    content: "\2713";
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    color: green;
                                    font-weight: bold;
                                }
                            }
                        }

                        input[type="checkbox"] {
                            display: none;
                        }
                    }
                }
            }
        }

        .controlpanel__main {
            padding: 1rem;
            overflow-y: auto;
            
            h1 {
                font-weight: 100;
                font-size: 2.25rem;
                margin-bottom: 1.5rem;
            }

            span#CpReset {
                font-size: 1rem;
                &:hover {
                    text-decoration: underline;
                    cursor: $cr-pointer;
                }
            }

            hr {
                margin: 0.5rem 0;
                border-color: var(--secondary);
            }

            &__page {

                &__view {
                    &__section {
                        margin-top: 1rem;

                        &-title {
                            font-size: 1.2rem;
                            margin-bottom: 0.5rem;
                            display: block;
                        }

                        section {
                            padding: 0.5rem;
                            background-color: var(--secondary);
                            border-radius: 2px;
                        }
                    }

                    &#personalize {
                        .personalize-themes, .personalize-wallpapers {
                            display: grid;
                            grid-template-columns: repeat(5, auto);
                            grid-gap: 2px;
                            padding: 0.5rem;
                            background-color: rgba(0,0,0,0.4);
                            border-radius: 2px;

                            .theme, .wallpaper {
                                background-color: gray;
                                display: inline-block;
                                height: 50px;
            
                                &:hover {
                                    outline: 2px solid #fff;
                                    cursor: $cr-pointer;
                                }

                                &#ActiveThemeDisplay, &#ActiveWallpaperDisplay {
                                    outline: 2px solid #fff;
                                }
            
                                &[data-theme="blue"] {
                                    border-top: 50px solid $sc-primary-blue;
                                    border-right: 50px solid $sc-secondary-blue;
                                }
            
                                &[data-theme="black"] {
                                    border-top: 50px solid $sc-primary-black;
                                    border-right: 50px solid $sc-secondary-black;
                                }
            
                                &[data-theme="red"] {
                                    border-top: 50px solid $sc-primary-red;
                                    border-right: 50px solid $sc-secondary-red;
                                }
            
                                &[data-theme="green"] {
                                    border-top: 50px solid $sc-primary-green;
                                    border-right: 50px solid $sc-secondary-green;
                                }
            
                                &[data-theme="pink"] {
                                    border-top: 50px solid $sc-primary-pink;
                                    border-right: 50px solid $sc-secondary-pink;
                                }
                            }
                        }
                    }
                }

            }

            &__categories {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-row-gap: 1rem;
                .category {
                    display: grid;
                    grid-template-columns: 3rem auto;
                    padding: 0.5rem;
                    border-radius: 2px;
                    &:hover {
                        background-color: rgba(0,0,0,0.1);
                        cursor: $cr-pointer;
                    }
                    img {
                        width: 100%;
                    }
                    &__title p {
                        margin-left: 1rem;
                    }
                }
            }

        }
    }

    &#messager {
        display: grid;
        grid-template-columns: 25% auto;
        background-color: #ece9d8;

        .sidebar {
            background-color: #d3d0c2;
            padding: 0.5rem;
            position: relative;

            &__footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0 0.5rem;
                height: 3rem;
                background-color: #ece9d8;
                vertical-align: middle;
                border-right: 2px solid #d3d0c2;
                border-left: 3px solid #d3d0c2;

                img {
                    height: 80%;
                    width: auto;
                    outline: 2px solid #d3d0c2;
                }

                span {
                    display: inline-block;
                    transform: translateY(-50%);
                    margin-left: 1rem;
                    color: #86847d;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                    &:hover {
                        border-bottom: 2px solid;
                        cursor: $cr-pointer;
                        color: var(--secondary);
                    }
                }

            }

            &__contacts {
                .contact {
                    padding: 0.5rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.5rem;
                    background-color: #ece9d8;
                    border-left: 4px solid darkred;

                    p {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:hover {
                        background-color: #dfdccc;
                        cursor: $cr-pointer;
                    }
                }
            }
        }

        .chat {
            position: relative;

            &__room {
                display: grid;
                grid-template-columns: 20% 80%;
                grid-template-rows: 50% auto;
                height: 90%;
                width: 90%;
                grid-gap: 0.5rem;
                margin: auto;
                position: absolute;
                left: 0;
                right: 0;

                &__section {
                    background-color: #d3d0c2;

                    .contact-profile {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;

                        &.pink {
                            background-color: $sc-secondary-pink;
                        }

                        &.green {
                            background-color: $sc-secondary-green;
                        }

                        &.red {
                            background-color: $sc-secondary-red;
                        }

                        &.black {
                            background-color: $sc-secondary-black;
                        }

                        .avatar {
                            width: 80%;
                            margin: auto;
                            left: 0;
                            right: 0;
                            top: 0;
                            padding-top: 0.5rem;
                            display: block;
                            position: absolute;
                        }
                    }

                    .chat-box {
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        padding-top: 1rem;
                        max-height: 100%;
                        overflow-y: scroll;
                        border: 2px solid gray;

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-track {
                            background: #d3d0c2;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: var(--primary);
                        }

                        &__message {
                            padding: 0.25rem 1rem;
                            font-size: 1.5rem;
                            user-select: text;

                            span {
                                user-select: none;
                            }

                            span.you {
                                color: red;
                            }

                            span.them {
                                color: blue;
                            }
                        }
                    }

                    .user-input {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-rows: 40px auto 40px;
                        background-color: #ece9d8;

                        &__header,
                        &__footer {
                            width: 100%;
                            height: 100%;
                            text-align: right;

                            button.send-button {
                                padding: 0.25rem 1rem;
                                border: 0;
                                background-color: var(--primary);
                                outline: none;
                                color: #fff;
                                font-family: "VT323", sans-serif;
                                font-size: 1rem;
                                &:hover {
                                    filter: brightness(90%);
                                    cursor: $cr-pointer;
                                }
                            }
                        }

                        &__box {
                            background-color: #fff;
                            border: 2px solid gray;
                            textarea {
                                resize: none;
                                border: 0;
                                width: 100%;
                                height: 100%;
                                padding: 0.5rem;
                                font-family: "VT323", sans-serif;
                                outline: none;
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &#webcam {
        background-color: #000;

        canvas {
            width: 100%;
            height: 100%;
        }

        video {
            display: none;
            //filter: contrast(550%);
        }

        &:hover {
            .webcam-button-overlay {
                display: block;
                transform: translateY(0%);
            }
        }

        .webcam-button-overlay {
            display: none;
            transform: translateY(50%);
            transition: transform 0.5s ease;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1rem;
            text-align: center;

            &__button {
                width: 3rem;
                height: 3rem;
                border-radius: 33vw;
                background-color: darkblue;
                display: inline-block;
                margin: 0 1rem;
                border: 1px solid transparent;

                &:hover {
                    cursor: pointer;
                    border: 1px solid #fff;
                }
            }
        }
    }

    &#notepad {
        textarea {
            font-family: VT323;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            outline: none;
            border: 0;
            padding: 1rem;
            background-color: #ece9d8;
            color: #333;
            resize: none;
        }
    }

    &#restore {
        padding: 1rem;
        p {
            user-select: text;
        }
    }
}