@keyframes webcamButtonPopup {
    from {transform: translateY(50%)}
    to {transform: translateY(0%);}
}  

.app {
    position: relative;
    width: 100%;
    overflow: hidden;

    &#browser {
        .browser {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            &__bar {
                background: $gc-main-blue;
                width: 100%;
                min-height: 3rem;
                height: auto;
                flex-shrink: 0;
                display: grid;
                grid-template-columns: 4rem 3rem auto 5rem;
                padding: 0 1rem;
                border-bottom: 2px solid rgb(110, 125, 255);
                z-index: 100;

                &__pagination {
                    text-align: center;

                    &__button {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 33vw;
                        background: $gc-main-blue;
                        margin: 0 0.25rem;
                        border: 2px solid rgb(110, 125, 255);
                        &:hover {
                            filter: brightness(90%);
                            cursor: $cr-pointer;
                        }
                    }
                }

                &__security {
                    width: 2rem;
                    height: 100%;
                    position: relative;
                    margin-left: 1rem;
                    &__icon {
                        height: 34px;
                        border: 2px solid rgb(110, 125, 255);
                        border-right: 0;
                        background-color: #fff;
                        img {
                            display: block;
                            height: 50%;
                            width: auto;
                            margin: auto;
                        }
                    }
                }

                &__search {
                    position: relative;
                    transform: translateX(-2px);

                    &__input {
                        display: block;
                        height: 34px;
                        padding: 0.5rem;
                        padding-left: 0;
                        width: 100%;
                        margin: auto;
                        border: 2px solid rgb(110, 125, 255);
                        border-left: 0;
                        background-color: #fff;
                        outline: none;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        cursor: text;
                        //text-transform: lowercase;
                        &:empty:before {
                            content: 'Search the internet with a URL';
                            color: gray;
                        }

                        &:not(:empty):not(:focus):before {
                            content: 'http://';
                            color: gray;
                        }

                        &.secure:not(:empty):not(:focus):before {
                            content: 'https://' !important;
                            color: gray;
                        }
                    
                    }

                    &__suggestions {
                        display: none;
                        position: absolute;
                        background: #FFF;
                        width: calc(100%);
                        margin: auto;
                        left: 0;
                        right: 0;
                        border: 2px solid rgb(110, 125, 255);
                        margin-top: 4px;
                        span {
                            display: block;
                            padding: 0.35rem;
                            &:before {
                                content: 'http://'
                            }

                            &:hover {
                                background-color: $selection-color;
                                color: #FFF;
                                cursor: $cr-pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                /* # Selector found in app.browser/app.tsx for dynamic targetting

                &__search[input-value="exa"] .browser__bar__search__input:not(:empty):after {
                    content: 'mple.com';
                    background-color: $selection-color;
                    color: #FFF;
                }
                */

                &__search:not([input-value=""]) .browser__bar__search__suggestions.active:not(:empty) {
                    display: block !important;
                }

            }
    
            &__view {
                flex: 1;
                display: flex;
                align-items: stretch;
                user-select: text !important;
                z-index: 10;
            }
        }
    }

    &#webcam {
        background-color: #000;
        
        canvas {
            width: 100%;
            height: 100%;
        }
        
        video {
            display: none;
            //filter: contrast(550%);
        }

        &:hover {
            .webcam-button-overlay {
                display: block;
            }
        }

        .webcam-button-overlay {
            display: none;
            animation: webcamButtonPopup 0.4s forwards;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1rem;
            text-align: center;
            &__button {
                width: 3rem;
                height: 3rem;
                border-radius: 33vw;
                background-color: darkblue;
                display: inline-block;
                margin: 0 1rem;
                border: 1px solid transparent;
                &:hover {
                    cursor: pointer;
                    border: 1px solid #FFF;
                }
            }
        }
    }

    &#notepad {
        textarea {
            font-family: VT323;
            font-size: 1.4rem;
            width: 100%;
            height: 100%;
            outline: none;
            border: 0;
            padding: 1rem;
            background-color: #ECE9D8;
            color: #333;
            resize: none;
        }
    }
}