@import './ContextMenu.scss';

.app-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--gradient);
    border: 2px solid var(--secondary);
    border-radius: 4px;
    overflow: auto;
    z-index: 11;
    overflow: hidden;
    pointer-events: all;
    resize: both;

    /* When window is fullscreen */
    &.fullscreen {
        width: 100% !important;
        height: 100% !important;
        min-width: 100% !important;
        min-height: 100% !important;
        border-radius: 0;
        resize: none;
        top: 0;
        left: 0;
        transform: translate(0) !important;
        border: 0;
    }

    /* Top bar in app window */
    &__bar {
        width: 100%;
        height: 2rem;
        flex-shrink: 0;
        padding: 0 0.5rem;

        &-inner {
            display: grid;
            grid-template-columns: 16px minmax(0, calc(100% - 5rem - 16px)) 5rem;
            grid-column-gap: 0.5rem;
        }

        &__title span {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3rem;
            display: inline-block;
            white-space: nowrap;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__icon {
            margin-right: 0.5rem;
            width: 16px;
            height: 16px;
        }

        &__actions {
            height: 100%;
            width: auto;
            text-align: right;

            .app-window__bar__button {
                text-align: left;
                display: inline-block;
                background-color: #FFF;
                width: 20px;
                height: 20px;
                margin: 0 2px;
                border: 1px solid #FFF;
                transition: filter 0.2s ease;
                border-radius: 4px;

                span {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    color: #FFF;
                }

                &:hover {
                    filter: brightness(90%);
                }

                &.minimize, &.hide {
                    background: linear-gradient(0deg, var(--primary) 0%, rgba(193,223,255,1) 100%);
                }

                &.close {
                    background: linear-gradient(0deg, rgba(218,39,39,1) 0%, rgba(255,193,193,1) 100%);
                }

            }
        }
    }

    &__view {
        background-color: #ECE9D8;
        align-items: stretch;
        border: 2px solid var(--secondary);
        flex: 1;
        overflow: auto;
        display: flex;
        .webpage {
            overflow-y: auto;
        }
    }


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.1);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.2);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,0.3);
    }
}