.app-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(0deg, rgba(39,57,218,1) 0%, rgba(193,223,255,1) 100%);
    border: 2px solid rgb(110, 125, 255);
    border-radius: 4px;
    min-height: 30vh;
    height: 50vh;
    max-height: 70vh;
    min-width: 20vw;
    max-width: 60vw;
    width: 40vw;
    padding: 0 0.3rem 0.3rem 0.3rem;
    overflow: auto;
    z-index: 11;
    overflow: hidden;
    pointer-events: all;
    resize: both;

    /* When window is fullscreen */
    &.fullscreen {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        border-radius: 0;
        resize: none;
        top: 0;
        left: 0;
        transform: translate(0) !important;
        border: 0;
    }

    /* Top bar in app window */
    &__bar {
        width: 100%;
        height: 2rem;
        flex-shrink: 0;
        
        &__title {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3rem;
            display: inline-block;
        }

        &__icon {
            margin-right: 0.5rem;
        }

        &__actions {
            float: right;
            height: 100%;
            width: auto;

            .app-window__bar__button {
                display: inline-block;
                background-color: #FFF;
                width: 20px;
                height: 20px;
                margin: 0 2px;
                border: 1px solid #FFF;

                &.minimize, &.hide {
                    background: linear-gradient(0deg, rgba(39,57,218,1) 0%, rgba(193,223,255,1) 100%);
                }

                &.close {
                    background: linear-gradient(0deg, rgba(218,39,39,1) 0%, rgba(255,193,193,1) 100%);
                }

            }
        }
    }

    &__view {
        flex: 1;
        background-color: #ECE9D8;
        display: flex;
        align-items: stretch;
        border: 2px solid rgb(110, 125, 255);

    }


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.1);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.2);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,0.3);
    }
}