.taskbar {
    font-family: VT323;
    flex-shrink: 0;
    width: 100%;
    height: 2.5rem;
    background: var(--gradient);
    display: grid;
    grid-template-columns: 8rem auto 5rem;

    &__start__button {
        font-family: VT323;
        font-size: 1.2rem;
        background: linear-gradient(0deg, rgba(54,146,39,1) 0%, rgba(61,206,75,1) 100%);
        border: 0;
        border-top-right-radius: 0.65rem;
        border-bottom-right-radius: 0.65rem;
        height: 100%;
        padding: 0 2rem;
        outline: none;
        font-style: italic;
        font-weight: bold;
        margin-right: 1rem;

        &:hover {
            filter: brightness(95%);
            cursor: $cr-pointer;
        }
    }

    &__activity {
        height: 100%;
        display: inline-block;

        .taskbar__app {
            height: 100%;
            display: inline-block;
            color: #FFF;
            background: rgba(0, 0, 0, 0.1);
            padding: 0 0.5rem;

            img {
                width: 16px;
                height: 16px;
            }

            &:not(:last-child) {
                border-right: rgba(0, 0, 0, 0.2) 1px solid;
            }

            &:hover {
                cursor: $cr-pointer;
                filter: brightness(90%);
            }

            &__title {
                display: inline-block;
                transform: translateY(-70%);
                margin-left: 0.5rem;
            }
        }
    }

    &__time {
        background: rgba(255, 255, 255, 0.2);
        border-left: 1px solid var(--primary);
        color: #FFF;
        text-align: center;
        span {
            display: block;
        }
    }

}