.text-style-1 {
    color: #FFF;
    text-shadow: 1px 1px 0 black; 
    font-family: VT323;
}

.render-as-pixels {
    image-rendering: pixelated;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.v-center-all *:not(div), .v-center-all div.c-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}