.text-style-1 {
    color: #FFF;
    text-shadow: 1px 1px 2px black; 
    font-family: VT323;
}

.render-as-pixels {
    image-rendering: pixelated;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.v-center-all * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}