// Variables
@import './variables.scss';

// Animations
@import './basic-animations.scss';

// Fonts
@import './fonts.scss';

// Commons
@import './commons.scss';

// Web components
@import './webcomponents.scss';

@import './environments/Desktop.scss';
@import './environments/PauseScreen.scss';
@import './environments/DeveloperScreen.scss';

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    box-sizing: inherit;
    margin: 0;
    height: 100%;
    font-family: VT323;
    overflow: hidden;
    cursor: $cr-default;
    user-select: none;
    background-color: #000;
}

.progress-state {
    cursor: $cr-progress !important;
}

img {
    pointer-events: none;
}

#game, .game-view {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

::selection {
    color: #FFF;
    background-color: $selection-color;
}

/* Developer utilities */

#debugInfo {
    font-family: $debug-font;
    position: absolute;
    display: block;
    z-index: 1000;
    text-align: center;
    margin-top: 4px;
    color: #FFF;
    width: 100%;
    pointer-events: none;
    button {
        background-color: var(--secondary);
        color: #fff;
        padding: 0.25rem 1rem;
        margin: 0 0.5rem;
        border: 0px;
        border-radius: 4px;
        outline: none;
        pointer-events: all;
        &:hover {
            filter: brightness(80%);
            cursor: pointer;
        }
    }
}

$dsm-accent: #81ecec;

.developer-save-manager {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 20%;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    pointer-events: none;
    color: #FFF;
    overflow: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    .tab {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: all;
        cursor: move;
        padding: 0.25rem;
        p {
            pointer-events: none;
        }
    }

    .window {
        padding: 0 1rem;
    }

    .chunk {
        margin: 1rem 0;
    }

    h1,h2,h3 {
        color: $dsm-accent;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    input,button {
        padding: 0.25rem;
        outline: none;
        pointer-events: all;
    }

    .events,.constants {
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        margin-top: 1rem;
        max-height: 70%;
        overflow-y: auto;
        pointer-events: all;
        &__removable {
            padding: 0.5rem;
            &:hover {
                background-color: #ff7675;
                cursor: pointer;
            }
        }
    }

}