// Variables
@import './variables.scss';

// Animations
@import './basic-animations.scss';

// Fonts
@import './fonts.scss';

// Commons
@import './commons.scss';

// Web components
@import './webcomponents.scss';

@import './environments/Desktop.scss';
@import './environments/PauseScreen.scss';
@import './environments/DeveloperScreen.scss';

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    box-sizing: inherit;
    margin: 0;
    height: 100%;
    font-family: VT323;
    overflow: hidden;
    cursor: $cr-default;
    user-select: none;
}

.progress-state {
    cursor: $cr-progress !important;
}

img {
    pointer-events: none;
}

#game, .game-view {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

::selection {
    color: #FFF;
    background-color: $selection-color;
}

/* Developer utilities */

#debugInfo {
    font-family: $debug-font;
    position: absolute;
    display: block;
    z-index: 1000;
    text-align: center;
    margin-top: 4px;
    color: #FFF;
    width: 100%;
    pointer-events: none;
    button {
        background-color: var(--secondary);
        color: #fff;
        padding: 0.25rem 1rem;
        margin: 0 0.5rem;
        border: 0px;
        border-radius: 4px;
        outline: none;
        pointer-events: all;
        &:hover {
            filter: brightness(80%);
            cursor: pointer;
        }
    }
}

.developer-save-manager {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 20%;
    height: 30%;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    pointer-events: none;

    h1,h2,h3 {
        color: #e67e22;
        text-transform: uppercase;
    }

    input,button {
        padding: 0.25rem;
        outline: none;
        pointer-events: all;
    }

    .events {
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        margin-top: 1rem;
        &__item {
            color: #FFF;
            padding: 0.5rem;
            pointer-events: all;
            &:hover {
                background-color: #ff7675;
                cursor: pointer;
            }
        }
    }

}