// Variables
@import './variables.scss';

// Animations
@import './basic-animations.scss';

// Fonts
@import './fonts.scss';

// Commons
@import './commons.scss';

// Web components
@import './webcomponents.scss';

@import './environments/Desktop.scss';
@import './environments/PauseScreen.scss';
@import './environments/DeveloperScreen.scss';

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    box-sizing: inherit;
    margin: 0;
    height: 100%;
    font-family: VT323;
    overflow: hidden;
    cursor: $cr-default;
    user-select: none;
}

.progress-state {
    cursor: $cr-progress !important;
}

img {
    pointer-events: none;
}

#debugInfo {
    font-family: $debug-font;
    position: absolute;
}

#game, .game-view {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
}

::selection {
    color: #FFF;
    background-color: $selection-color;
}