/* Cursors */
$cr-default: url(../assets/cursors/default.cur), default;
$cr-pointer: url(../assets/cursors/pointer.cur), pointer;
$cr-progress: url(../assets/cursors/progress.cur), progress;

/* Font */
$debug-font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

/* Colors & gradients */
$gc-main-blue: linear-gradient(0deg, rgba(0,25,255,1) 0%, #0f87f6 100%);

/* Misc */
$selection-color: #3368C4;