.ad-container .ad {
    width: 100% !important;
    height: 100% !important;
}

.ad {
    width: 5rem;
    height: 5rem;
    border: 2px solid gray;
    cursor: pointer;

    &.ad-banner {
        max-width: calc(256px * 3);
        width: 100%;
        margin: 1rem 0;
    }
}

body:not(.progress-state) span.hyperlink {
    cursor: $cr-pointer !important;
}

span.hyperlink {
    color: blue;
    text-decoration: underline;
}