// UI imports
@import '../ui/Taskbar.scss';
@import '../ui/DesktopWindow.scss';
@import '../ui/HelpMonkey.scss';
@import '../ui/Apps.scss';
@import '../ui/Startmenu.scss';

$app-size: 4rem;

.desktop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s forwards ease;

    &__board {
        flex: 1;
        position: relative;
        
        &__window__container {
            position: absolute;
            pointer-events: none;
            width: 100vw;
            height: calc(100vh - 2.5rem);
            top: 0;
            left: 0;
            z-index: 2;
        }

        &#wallpaper {
            background: var(--wallpaper);
        }
    }

    &__board__apps {
        padding: 2rem;
        display: grid;
        grid-column-gap: 2px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fill, auto);
        grid-auto-flow: row;
        grid-auto-rows: auto;

        .desktop-app {

            &__inner {
                margin: auto;
                text-align: center;
                width: $app-size;
                outline: none;
                padding: 8px;
                font-size: 0.8rem;
                box-sizing: content-box;
                user-select: none;

                &:hover {
                    outline: 1px solid rgb(98, 130, 155);
                    background-color: rgba(153, 187, 214, 0.7);  
                }

                &:focus, &:active {
                    outline: 1px dotted rgb(98, 130, 155);
                    background-color: rgba(120,173,213,0.7);
                }
            }

            &__icon {
                position: relative;
                width: $app-size;
                height: $app-size;
                margin: 0.5rem auto;

                &__notifications {
                    pointer-events: none;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    right: 0;
                    padding: 4px;
                    background-color: var(--secondary);
                    border: 1px solid var(--primary);
                    border-radius: 33vw;
                    color: #FFF;
                    span {
                        position: absolute;
                        top: 0; right: 0; left: 0; bottom: 0;
                        margin: auto;
                        transform: translateY(3px);
                        font-size: 0.8rem;
                        text-shadow: 1px 1px 0 black;
                    }
                }
            }

        }

    }

}