// UI imports
@import '../ui/Taskbar.scss';
@import '../ui/DesktopWindow.scss';
@import '../ui/HelpMonkey.scss';
@import '../ui/Apps.scss';

$app-size: 4rem;

.desktop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__board {
        flex: 1;
        position: relative;
        
        &__window__container {
            position: absolute;
            pointer-events: none;
            width: 100vw;
            height: calc(100vh - 2.5rem);
            top: 0;
            left: 0;
            z-index: 2;
        }

        &#wallpaper {
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(120,173,213,1) 100%);

            /*
            background:
                linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
            */
        }
    }

    &__board__apps {
        padding: 2rem;
        display: grid;
        grid-column-gap: 2px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) );
        grid-template-rows: repeat(auto-fill, auto);
        grid-auto-flow: row;
        grid-auto-rows: auto;

        .desktop-app {

            &__inner {
                margin: auto;
                text-align: center;
                width: $app-size;
                outline: none;
                padding: 8px;
                font-size: 0.8rem;
                box-sizing: content-box;
                user-select: none;

                &:hover {
                    outline: 1px solid rgb(98, 130, 155);
                    background-color: rgba(153, 187, 214, 0.7);  
                }

                &:focus, &:active {
                    outline: 1px solid rgb(98, 130, 155);
                    background-color: rgba(120,173,213,0.7);
                }
            }

            &__icon {
                width: $app-size;
                height: $app-size;
                margin: 0.5rem auto;
            }

        }

    }

}